<section class="section-padding py-8" id="experiences">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-center">
      <h2 class="text-3xl font-bold mb-8 flex items-center gap-2 text-[#f5f5f5]">
        Experiences
      </h2>
    </div>
  
    <div class="relative ml-5">
      @for(exp of experiences; track $index; let last = $last) {
        <div class="relative mb-8 flex flex-col items-center">
          @if (!last) {
            <div class="absolute left-1/2 transform -translate-x-1/2 top-5 h-[calc(100%-20px)] w-[2px] bg-[#333333]"></div>
          }
          <div class="bg-[#2a2a2a] rounded-lg p-6 shadow-md hover:bg-[#343434] transition-all w-full max-w-4xl">
            <div class="flex items-center gap-4 justify-center">
              <h3 class="font-medium text-lg text-[#f5f5f5] m-0">{{ exp.title }}</h3>
            </div>
            <h4 class="text-base font-normal text-[#9f9f9f] my-1">
              {{ exp.company }}
            </h4>
            <span class="text-base text-[#cccccc]">{{ exp.period }} · {{ exp.location }}</span>
            <p class="text-muted-foreground">
              {{ exp.description }}
            </p>
          </div>
        </div>
      }
    </div>
  </div>

</section>
